.myskills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: transparent;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInText 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.title {
  opacity: 0;
  animation: fadeInTitle 1s ease-in-out forwards;
}
.category {
  text-align: center;
  padding: 1rem;
  border: 1px solid #161616;
  border-radius: 15px;
  background-color: #cf9fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category ul {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  list-style: none; /* Remove default bullets */
}

.category ul li {
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
  background: url("../../assets/img/checked.png") no-repeat left center;
  background-size: 16px 16px;
  padding-left: 536px;
  text-align: left;
}
.category p:hover {
  border-radius: 15px;
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #d0d3d4;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category ul li:hover {
  transform: translateY(-2px) translateX(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #d0d3d4;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.attri {
  text-align: center;
  border: 1px solid #161616;
  border-radius: 15px;
  background-color: #af78e7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInTitle {
  to {
    opacity: 1;
  }
}
/* Media query for viewports smaller than 1000px */
@media (max-width: 1200px) {
  .myskills {
    grid-template-columns: 1fr;
    width: 90%;
    gap: 1.5rem;
  }

  .category {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .category ul li {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  .attri {
    padding: 1rem;
  }
}
